*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cinzel', serif;
    color: white;
    background-color: black;
}
header{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #0e1011;
}
hr{
    margin: 15px;
}
div{
    text-align: center;
}
p{
    margin: 20px;
    text-align: center;
}
h1{
    font-size: 120px;
    line-height: 1px;
    letter-spacing: 10px;
    margin: 2%;
    text-align: center;
}
h2{
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 5px;
}
h3{
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    margin: 1%;
}

/* aca esta el NAV */

.navbar{
    display: flex;
}
.navbar li a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.navbar a:hover{
    color:blueviolet;
}
.logo-nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.logo-nav img{
    display: flex;
    height: 50px;
    align-items: center;
    margin: 5px;
}
.inicio{
    display: flex;
    gap: 30px;
    padding-left: 5px;
}
.inicio li a{
    text-decoration: none;
    color: white;
}
.inicio a:hover{
    color:blueviolet;
}
.logo-main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(https://i.postimg.cc/rsQmcMFG/barman2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-main img{
    margin: 10px;
}
.quienes-somos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
}
.herramientas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
}
.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 99vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.boton-ingresar a{
    padding: 10px;
    border: 5px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.figuras{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.copa-barra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner HTML enlaces */

.sombra{
    text-transform: lowercase;
    text-shadow: 5px 5px 0 rgb(0, 0, 0);
}
.sombra-1{
    text-transform: lowercase;
    text-shadow: 3px 3px 0 rgb(0, 0, 0);
}
.sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(https://i.postimg.cc/QN4hX6Jq/sinalcoholbanner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bajo-banner{
    background-image: url(https://i.postimg.cc/y8Jd4qq9/bajobanner1.jpg);
}
.medio-banner{
    background-image: url(https://i.postimg.cc/fbnMGJfn/mediobanner1.jpg);
}
.alto-banner{
    background-image: url(https://i.postimg.cc/X7YqLGQs/altobanner1.jpg);
}
.herramientas-banner{
    background-image: url(https://i.postimg.cc/MZdKnZqV/herramientasbanner1.jpg);
}
.barra-inicio{
    display: flex;
}
.sugerencias{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(https://i.postimg.cc/fTVZkxHQ/barra41.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contactos{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(https://i.postimg.cc/P5Bqd6h7/barra2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nosotros{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(https://i.postimg.cc/yNyC2nNc/barman1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOTTER */

footer{
    background-color: #0e1011;
}
.beber{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;

}
.novedades p{
    text-align: center;
    line-height: 1px;
    padding: 10px;
    border: 10px;
    margin: 0px;
}
form{
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 5px;
}
.enlaces img{
    height: 50px;
}
.enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.enlaces a{
    text-decoration: none;
    color: white;
}
.enlaces a:hover{
    color:blueviolet;
}
.redes p{
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
}
.face{
    width: 30px;
    margin: 10px;
}
.insta{
    width: 30px;
    margin: 10px;
}
.tik{
    width: 30px;
    margin: 10px;
}

/* Codigos con Grid*/

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.grid2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.img1{
    grid-column: 1/2;
    padding-bottom: 50px;
}
.img2{
    grid-column: 2/3;
    padding-bottom: 50px;
}
.img3{
    grid-column: 3/4;
    padding-bottom: 50px;
}
.img4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.img5{
    grid-column: 2/3;
    grid-row: 2/3;
}
.img6{
    grid-column: 3/4;
    grid-row: 2/3;
}
.img7{
    grid-column: 2/3;
    grid-row: 3/4;
}
.img1 img{
    width: 315px;
    margin-top: 20px;
}
.img2 img{
    width: 345px;
    margin-top: 20px;
}
.img3 img{
    width: 350px;
    margin-top: 20px;
}
.img4 img{
    width: 345px;
}
.img5 img{
    width: 345px;
}
.img6 img{
    width: 350px;
}
.img7 img{
    width: 350px;
}
.img1 h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img2 h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img3 h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img4 h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img5 h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img6 h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img7 h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img1 a{
    text-decoration: none;
    color: white;
}
.img2 a{
    text-decoration: none;
    color: white;
}
.img3 a{
    text-decoration: none;
    color: white;
}
.img4 a{
    text-decoration: none;
    color: white;
}
.img5 a{
    text-decoration: none;
    color: white;
}
.img6 a{
    text-decoration: none;
    color: white;
}
.img7 a{
    text-decoration: none;
    color: white;
}