@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Cinzel', serif;
  color: white;
  background-color: black; }

header {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #0e1011; }
  header div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; }
    header div a img {
      display: flex;
      height: 50px;
      align-items: center;
      margin: 5px; }
  header .navbar ul, header .navbar-recetas ul {
    display: flex;
    list-style: none; }
    header .navbar ul li a, header .navbar-recetas ul li a {
      text-decoration: none;
      color: white;
      padding-right: 20px; }
      header .navbar ul li a:hover, header .navbar-recetas ul li a:hover {
        color: blueviolet; }

.logo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: none;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://i.postimg.cc/rsQmcMFG/barman2.jpg); }
  .logo-main img {
    margin: 10px; }

h1 {
  font-size: 120px;
  line-height: 1px;
  letter-spacing: 10px;
  margin: 2%;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 5px 5px 0 black; }

h3 {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin: 1%;
  text-transform: lowercase;
  text-shadow: 3px 3px 0 black; }

.barra {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-image: url(https://i.postimg.cc/TYNw4dsf/barman3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.quienes-somos, .herramientas {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  padding: 10px; }

.boton-ingresar a {
  padding: 10px;
  border: 5px;
  margin: 10px;
  text-decoration: none;
  color: black; }

.copa-barra {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  height: 60vh;
  background-image: url(https://i.postimg.cc/jdHyWgS6/cocteleria-curso.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

h2 {
  text-align: center;
  padding: 10px;
  border: 10px;
  margin: 5px; }

p {
  margin: 20px;
  text-align: center; }

.figuras {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px; }
  .figuras .card1:hover, .figuras .card2:hover, .figuras .card3:hover, .figuras .card4:hover {
    transform: scale(1.1); }

footer {
  background-color: #0e1011; }
  footer .beber {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px; }
  footer .novedades p {
    text-align: center;
    line-height: 1px;
    padding: 10px;
    border: 10px;
    margin: 0px; }
  footer form {
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 5px; }
  footer .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer .enlaces img {
      height: 50px; }
    footer .enlaces a {
      text-decoration: none;
      color: white; }
      footer .enlaces a:hover {
        color: blueviolet; }
  footer .redes {
    display: flex;
    justify-content: center; }
    footer .redes .face {
      width: 30px;
      margin: 10px; }
    footer .redes .insta {
      width: 30px;
      margin: 10px; }
    footer .redes .tik {
      width: 30px;
      margin: 10px; }
  footer p {
    font-size: 12px;
    margin-top: 0;
    padding-top: 0; }

/* Pages */
.sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: none;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://i.postimg.cc/QN4hX6Jq/sinalcoholbanner1.jpg);
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bajo-banner {
  background-image: url(https://i.postimg.cc/y8Jd4qq9/bajobanner1.jpg); }

.medio-banner {
  background-image: url(https://i.postimg.cc/fbnMGJfn/mediobanner1.jpg); }

.alto-banner {
  background-image: url(https://i.postimg.cc/X7YqLGQs/altobanner1.jpg); }

.herramientas-banner {
  background-image: url(https://i.postimg.cc/MZdKnZqV/herramientasbanner1.jpg); }

h1 {
  font-size: 120px;
  line-height: 1px;
  letter-spacing: 10px;
  margin: 2%;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 5px 5px 0 black; }

h3 {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin: 1%;
  text-transform: lowercase;
  text-shadow: 3px 3px 0 black; }

.recetas {
  display: grid;
  width: 100%;
  height: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: none; }
  .recetas img {
    width: 400px;
    margin: 20px;
    padding-bottom: 10px; }
  .recetas a {
    text-decoration: none;
    color: white; }
  .recetas h6 {
    text-align: center;
    padding-bottom: 20px; }

.presentacion {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.grid-madre {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "header main" "header main" "footer footer"; }
  .grid-madre header {
    grid-area: header; }
  .grid-madre main {
    grid-area: main; }
  .grid-madre footer {
    grid-area: footer; }

.gridreceta {
  display: grid;
  width: 100%;
  height: none;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(7 auto);
  grid-template-areas: none;
  text-align: center;
  padding-bottom: 20px; }
  .gridreceta .imagenreceta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: none;
    flex-direction: row;
    width: none;
    height: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    padding-left: 200px; }

.nav {
  display: flex;
  align-items: none;
  justify-content: none;
  text-align: center;
  flex-direction: none;
  width: 100%;
  height: 100vh;
  background-repeat: none;
  background-size: none; }
  .nav .nav-recetas a {
    text-align: center;
    justify-content: center; }
  .nav .nav-recetas ul a {
    list-style: none; }
  .nav .nav-recetas li a {
    text-decoration: none;
    color: white;
    margin: 20px;
    display: list-item;
    letter-spacing: 2px;
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
    .nav .nav-recetas li a:hover {
      color: blueviolet; }

.gridreceta {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

ol {
  list-style: none; }

ul {
  list-style: none; }

/* Media */
@media (max-width: 960px) {
  header {
    flex-direction: row;
    align-items: center;
    font-size: 12px; }
    header .logo-nav img {
      height: 40px; }
  h1 {
    font-size: 80px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 30px; }
  h5 {
    font-size: 12px; }
  p {
    font-size: 12px; }
  .barra {
    align-items: center;
    padding-left: 40px;
    height: 60vh; }
  .copa-barra {
    align-items: center;
    padding-left: 40px;
    height: 60vh; }
  .figuras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    text-align: center;
    justify-content: space-between; }
    .figuras figure img {
      height: 300px; }
    .figuras figcaption {
      font-size: 12px;
      padding-bottom: 10px; }
  .novedades p {
    font-size: 15px;
    padding: 10px;
    border: 8px;
    margin: 0px; }
    .novedades p form {
      font-size: 12px; }
      .novedades p form input {
        font-size: 12px; }
  .enlaces {
    flex-direction: row;
    font-size: 15px; }
  .logo-main {
    height: 60vh; }
    .logo-main img {
      height: 90px; }
  .recetas {
    display: grid;
    width: 100%;
    height: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: none; }
    .recetas img {
      width: 300px;
      margin: 10px;
      padding-bottom: 5px;
      align-items: center; }
    .recetas a {
      text-decoration: none;
      color: white; }
    .recetas h6 {
      text-align: center;
      padding-bottom: 20px; }
  .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: none;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover; }
  .navbar-recetas {
    display: none; } }

@media (max-width: 660px) {
  header {
    flex-direction: row;
    align-items: center;
    font-size: 12px; }
    header .logo-nav img {
      height: 40px; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 20px; }
  h5 {
    font-size: 10px; }
  p {
    font-size: 12px; }
  .barra {
    align-items: center;
    padding-left: 45px;
    height: 30vh; }
  .copa-barra {
    align-items: center;
    padding-left: 45px;
    height: 30vh; }
  .figuras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    text-align: center;
    justify-content: space-between; }
  .figuras figure img {
    height: 200px; }
  .figuras figcaption {
    font-size: 8px;
    padding-bottom: 10px; }
  .novedades p {
    font-size: 10px;
    padding: 5px;
    border: 5px;
    margin: 0px; }
    .novedades p form {
      font-size: 10px; }
    .novedades p input {
      font-size: 10px; }
  .enlaces {
    flex-direction: column;
    font-size: 12px; }
  .logo-main {
    height: 30vh; }
    .logo-main img {
      height: 50px; }
  .recetas {
    display: grid;
    width: 100%;
    height: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: none; }
    .recetas img {
      width: 300px;
      margin: 10px;
      padding-bottom: 5px; }
    .recetas a {
      text-decoration: none;
      color: white; }
    .recetas h6 {
      text-align: center;
      padding-bottom: 20px; }
  .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: none;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover; }
  .navbar-recetas {
    display: none; } }

@media (max-width: 375px) {
  header {
    flex-direction: column;
    align-items: center; }
    header .navbar {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      font-size: 12px; }
    header .logo-nav img {
      height: 35px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 15px; }
  h3 {
    font-size: 15px; }
  h5 {
    font-size: 10px; }
  p {
    font-size: 10px; }
  .boton-ingresar a {
    padding: 5px;
    border: 2px;
    margin: 5px; }
  .figuras {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between; }
    .figuras figure img {
      height: 200px; }
    .figuras figcaption {
      font-size: 8px;
      padding-bottom: 10px; }
  .novedades p {
    font-size: 8px;
    padding: 5px;
    border: 5px;
    margin: 0px; }
    .novedades p form {
      font-size: 10px; }
    .novedades p input {
      font-size: 10px; }
  .enlaces {
    flex-direction: column;
    font-size: 12px; }
  .barra {
    align-items: center;
    padding-left: 35px;
    height: 25vh; }
  .copa-barra {
    align-items: center;
    padding-left: 35px;
    height: 25vh; }
  .logo-main {
    height: 30vh; }
    .logo-main img {
      height: 50px; }
  .recetas {
    display: grid;
    width: 100%;
    height: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: none; }
    .recetas img {
      width: 300px;
      margin: 10px;
      padding-bottom: 5px; }
    .recetas a {
      text-decoration: none;
      color: white; }
    .recetas h6 {
      text-align: center;
      padding-bottom: 20px; }
  .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: none;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover; }
  .navbar-recetas {
    display: none; } }

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    header .navbar ul {
      align-items: center;
      gap: 40px;
      font-size: 12px; }
    header .logo-nav img {
      height: 35px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 15px; }
  h3 {
    font-size: 15px; }
  h5 {
    font-size: 10px; }
  p {
    font-size: 10px; }
  .boton-ingresar a {
    padding: 5px;
    border: 2px;
    margin: 5px; }
  .figuras {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between; }
    .figuras figure img {
      height: 200px; }
    .figuras figcaption {
      font-size: 8px;
      padding-bottom: 10px; }
  .novedades
p {
    font-size: 7.9px;
    padding: 5px;
    border: 5px;
    margin: 0px; }
    .novedades
p form {
      font-size: 10px; }
    .novedades
p input {
      font-size: 10px; }
  .enlaces {
    flex-direction: column;
    font-size: 12px; }
  .barra {
    align-items: center;
    padding-left: 15px;
    height: 25vh; }
  .copa-barra {
    align-items: center;
    padding-left: 15px;
    height: 25vh; }
  .logo-main {
    height: 30vh; }
    .logo-main img {
      height: 50px; }
  .recetas {
    display: grid;
    width: 100%;
    height: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: none; }
    .recetas img {
      width: 300px;
      margin: 10px;
      padding-bottom: 5px; }
    .recetas a {
      text-decoration: none;
      color: white; }
    .recetas h6 {
      text-align: center;
      padding-bottom: 20px; }
  .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: none;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover; }
  .navbar-recetas {
    display: none; } }
