@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Cinzel', serif;
  color: white;
  background-color: black; }

header {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #0e1011; }
  header div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; }
    header div a img {
      display: flex;
      height: 50px;
      align-items: center;
      margin: 5px; }
  header nav ul {
    display: flex;
    list-style: none; }
    header nav ul li a {
      text-decoration: none;
      color: white;
      padding-right: 20px; }
      header nav ul li a:hover {
        color: blueviolet; }

.logo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  background-image: url(https://i.postimg.cc/rsQmcMFG/barman2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .logo-main img {
    margin: 10px; }

h1 {
  font-size: 120px;
  line-height: 1px;
  letter-spacing: 10px;
  margin: 2%;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 5px 5px 0 black; }

h3 {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin: 1%;
  text-transform: lowercase;
  text-shadow: 3px 3px 0 black; }

.barra {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://i.postimg.cc/TYNw4dsf/barman3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.quienes-somos, .herramientas {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  padding: 10px; }

.boton-ingresar a {
  padding: 10px;
  border: 5px;
  margin: 10px;
  text-decoration: none;
  color: black; }

.copa-barra {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  height: 100vh;
  background-image: url(https://i.postimg.cc/FK4QPwhh/barra1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

h2 {
  text-align: center;
  padding: 10px;
  border: 10px;
  margin: 5px; }

p {
  margin: 20px;
  text-align: center; }

.figuras {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px; }

footer {
  background-color: #0e1011; }
  footer .beber {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px; }
  footer .novedades p {
    text-align: center;
    line-height: 1px;
    padding: 10px;
    border: 10px;
    margin: 0px; }
  footer form {
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 5px; }
  footer .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer .enlaces img {
      height: 50px; }
    footer .enlaces a {
      text-decoration: none;
      color: white; }
      footer .enlaces a:hover {
        color: blueviolet; }
  footer .redes {
    display: flex;
    justify-content: center; }
    footer .redes .face {
      width: 30px;
      margin: 10px; }
    footer .redes .insta {
      width: 30px;
      margin: 10px; }
    footer .redes .tik {
      width: 30px;
      margin: 10px; }
  footer p {
    font-size: 12px;
    margin-top: 0;
    padding-top: 0; }

/* Pages */
.sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  background-image: url(https://i.postimg.cc/QN4hX6Jq/sinalcoholbanner1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.bajo-banner {
  background-image: url(https://i.postimg.cc/y8Jd4qq9/bajobanner1.jpg); }

.medio-banner {
  background-image: url(https://i.postimg.cc/fbnMGJfn/mediobanner1.jpg); }

.alto-banner {
  background-image: url(https://i.postimg.cc/X7YqLGQs/altobanner1.jpg); }

.herramientas-banner {
  background-image: url(https://i.postimg.cc/MZdKnZqV/herramientasbanner1.jpg); }

.recetas {
  display: flex; }
  .recetas img {
    width: 400px;
    margin: 0 auto;
    padding: 10px; }
  .recetas a {
    text-decoration: none;
    color: white; }
  .recetas h6 {
    text-align: center; }
