@import"./utilities/variables";
@import"./utilities/mixins";
@import"./base/reset";
@import"./base/typo";
@import"./layout/body";
@import"./layout/header";
@import"./layout/main-index";
@import"./layout/footer";


/* Pages */

@import"./layout/main-recetas";
@import"./layout/main-cocteles";

/* Media */

@import"./layout/media1024";
@import"./layout/media960";
@import"./layout/media858";
@import"./layout/media425";
@import"./layout/media375";
@import"./layout/media320";


