@import"./utilities/variables";
@import"./utilities/mixins";
@import"./base/reset";
@import"./base/typo";
@import"./layout/body";
@import"./layout/header";
@import"./layout/main-index";
@import"./layout/footer";


/* Pages */

@import"./layout/main-recetas";
@import"./layout/main-cocteles";
@import"./layout/header-cocteles";

