$background-principal: #000000;
$background-secundario: #0e1011;
$color-hover-header:#3B3B3B;
$color-recetas: linear-gradient(to left, #000000, #080808, #0f0f0f, #151515, #191919, #191919, #191919, #191919, #151515, #0f0f0f, #080808, #000000);
