.sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(https://i.postimg.cc/QN4hX6Jq/sinalcoholbanner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bajo-banner{
    background-image: url(https://i.postimg.cc/y8Jd4qq9/bajobanner1.jpg);
}
.medio-banner{
    background-image: url(https://i.postimg.cc/fbnMGJfn/mediobanner1.jpg);
}
.alto-banner{
    background-image: url(https://i.postimg.cc/X7YqLGQs/altobanner1.jpg);
}
.herramientas-banner{
    background-image: url(https://i.postimg.cc/MZdKnZqV/herramientasbanner1.jpg);
}
h1{
    font-size: 120px;
    line-height: 1px;
    letter-spacing: 10px;
    margin: 2%;
    text-align: center;
    text-transform: lowercase;
    text-shadow: 5px 5px 0 rgb(0, 0, 0);
}
h3{
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    margin: 1%;
    text-transform: lowercase;
    text-shadow: 3px 3px 0 rgb(0, 0, 0);
}
.recetas{
    display: flex;
        img{
            width: 400px;
            margin: 0 auto;
            padding: 10px;
        }
        a{
            text-decoration: none;
            color: white;
        }
        h6{
            text-align: center;
        }
}