.logo-main{
    @include flex(center,center,center,column,none,70vh,no-repeat,cover);
    background-image: url(https://i.postimg.cc/rsQmcMFG/barman2.jpg);
    img{
        margin: 10px;
    }
}
h1{
    font-size: 120px;
    line-height: 1px;
    letter-spacing: 10px;
    margin: 2%;
    text-align: center;
}
h3{
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    margin: 1%;
}
.barra{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-image: url(https://i.postimg.cc/TYNw4dsf/barman3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.quienes-somos, .herramientas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    padding: 10px;
}
.boton-ingresar a{
        border: none;
        width: 120%;
        color: white;
        font-size: 16px;
        background-color: $button-color;
        padding: 12px 18px;
        border-radius: 5px;
        cursor: pointer;
            &:hover{
                background-color: $cambio-hover;
            }
}
.copa-barra{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:start;
    height: 60vh;
    background-image: url(https://i.postimg.cc/jdHyWgS6/cocteleria-curso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2{
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 5px;
}
p{
    margin: 20px;
    text-align: center;
}
.figuras{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
        .card1,.card2,.card3,.card4{ 
            &:hover{
                transform: scale(1.10) translate(0);
            }
        animation: linear infinite;
    }
}