.logo-main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: url(https://i.postimg.cc/rsQmcMFG/barman2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    img{
        margin: 10px;
    }
}
h1{
    font-size: 120px;
    line-height: 1px;
    letter-spacing: 10px;
    margin: 2%;
    text-align: center;
    text-transform: lowercase;
    text-shadow: 5px 5px 0 rgb(0, 0, 0);
}
h3{
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    margin: 1%;
    text-transform: lowercase;
    text-shadow: 3px 3px 0 rgb(0, 0, 0);
}
.barra{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://i.postimg.cc/TYNw4dsf/barman3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.quienes-somos, .herramientas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    padding: 10px;
}
.boton-ingresar a{
    padding: 10px;
    border: 5px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.copa-barra{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:start;
    height: 100vh;
    background-image: url(https://i.postimg.cc/FK4QPwhh/barra1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h2{
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 5px;
}
p{
    margin: 20px;
    text-align: center;
}
.figuras{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}