// .grid-madre{
//     @include grid(100%,100vh,300px 1fr,100%,"header main""header main""footer footer");
//         header{
//             grid-area: header;
//     }
//         main{
//             grid-area: main;
//     }
//         footer{
//             grid-area: footer;
//     }
// }
// .gridreceta{
//     @include grid(100%,none,repeat(3 1fr), repeat(7 auto),none);
//     text-align: center;    
//     padding-bottom: 20px;
//     .imagenreceta{
//             @include flex(center,space-between,none,row,none,none,no-repeat,cover);
//             width: 80%;
//             padding-left: 200px;
//         }
// }
.fondo{
    background-color: $background-principal;
.recetas-txt{
    background-image:$color-recetas;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
        img{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            padding: 20px;
            left: 50%;

            justify-content: center;
        }
        h2{
            text-align: center;
            left: 40%;
        }
        p{
            text-align: center;
        }
        li{
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
            padding-bottom: 10px;
        }
        ul{
            list-style: none;

        }
    }
}