@media(max-width:660px){
    header{
        .navbar{
            ul{
                li{
                    display: block;
                    margin: 20px 0;
                    line-height: 20px;
                    a{
                        font-size: 12px;
                }            
            }                
        }
    }
}
    h1{
    font-size: 40px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
    h5{
        font-size: 10px;
    }
    p{
        font-size: 12px;
    }
    .barra{
        align-items: center;
        padding-left: 45px;
        height: 30vh;
    }
    .copa-barra{
        align-items: center;
        padding-left: 45px;
        height: 30vh;
    }
    .figuras{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        flex-direction: column;
        text-align: center;
        justify-content:space-between;
        .card1,.card2,.card3,.card4{
            img{
                width: 200px;
            }
            p{
                font-size: 12px;
                padding-bottom: 10px;
            }
        }
    }
    .novedades{ 
        .nov{
        font-size: 9px;
        }
        form{
            font-size: 10px;
        }
        input{
            font-size: 12px;
        }
    }    
    .enlaces{
        flex-direction: column;
        font-size: 12px;
    }
    .logo-main{
        height: 30vh;
        img{
            height: 50px;
        }
}
.recetas{
    @include grid(100%,none,repeat(1,1fr),repeat(6,1fr),none);
    .img1,.img2,.img3,.img4,.img5,.img6,.img7{
        a{
        img{
                margin-left: 90px;
            }
        }
    }
}
    .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner{
        @include flex(center,center,center,column,none,40vh,no-repeat,cover);
        h1{
            font-size: 60px;
        }
        h3{
            font-size: 20px;
        }
    }
    .fondo{
        .recetas-txt{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            align-items: center;
            img{
                width: 300px;
            }
            p{
                font-size: 14px;
            }
            li{
                font-size: 14px;
            }
        }
    }
}
