@media(max-width:375px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 15px;
    }
    h5{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    .boton-ingresar a{
        padding: 5px;
        border: 2px;
        margin: 5px;
    }
    .figuras{
        .card1,.card2,.card3,.card4{
            img{
                width: 200px;
            }
            p{
                font-size: 12px;
                padding-bottom: 10px;
            }
        }
    }
    .novedades p{
        font-size: 8px;
        padding: 5px;
        border: 5px;
        margin: 0px;
        form{
            font-size: 10px;
        }
        input{
            font-size: 10px;
        }
        
    }
    .enlaces{
        flex-direction: column;
        font-size: 12px;
    }
    .barra{
        align-items: center;
        padding-left: 35px;
        height: 25vh;
    }
    .copa-barra{
        align-items: center;
        padding-left: 35px;
        height: 25vh;
    }
    .logo-main{
        height: 30vh;
        img{
            height: 50px;
        }
    }
    .recetas{
        @include grid(100%,none,auto,repeat(6,1fr),none);
        .img1,.img2,.img3,.img4,.img5,.img6,.img7{
            a{
            img{
                    margin-left: 60px;
                }
            }
        }
        }
        .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner{
            @include flex(center,center,center,column,none,40vh,no-repeat,cover);
            h1{
                font-size: 40px;
            }
    }
    form{
        .form{
            margin-left: 5px;
            margin-right: 5px;
            padding: 10px 10px;
            .login, .registrar{
                margin-bottom: 10px;
                input{
                font-size: 12ps;
                padding: 2px;
                }
                .boton{
                    font-size: 12px;
                    padding: 10px 16px;
                }
            }
        }
    }
}