@media(max-width:660px){
    
    header{
        .navbar{
            ul{
                li{
                    display: block;
                    margin: 50px 0;
                    line-height: 30px;
                    a{
                        font-size: 12px;
                }            
            }                
        }
    }
}
    h1{
    font-size: 40px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
    h5{
        font-size: 10px;
    }
    p{
        font-size: 12px;
    }
    .barra{
        align-items: center;
        padding-left: 45px;
        height: 30vh;
    }
    .copa-barra{
        align-items: center;
        padding-left: 45px;
        height: 30vh;
    }
    .figuras{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        flex-direction: column;
        text-align: center;
        justify-content:space-between;
    }
    .figuras{
        figure img{
            height: 200px;
        }
        figcaption{
            font-size: 8px;
            padding-bottom: 10px;
        }
    }
    .novedades p{
        font-size: 10px;
        padding: 5px;
        border: 5px;
        margin: 0px;
        form{
            font-size: 10px;
        }
        input{
            font-size: 10px;
        }
    }
    .enlaces{
        flex-direction: column;
        font-size: 12px;
    }
    .logo-main{
        height: 30vh;
        img{
            height: 50px;
        }
}
.recetas{
    @include grid(100%,none,repeat(2,1fr),repeat(3,1fr),none);
        img{
            width: 300px;
            margin: 10px;
            padding-bottom: 5px;
        }
        a{
            text-decoration: none;
            color: white;
        }
        h6{
            text-align: center;
            padding-bottom: 20px;
        }
    }
    .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner{
        @include flex(center,center,center,column,none,40vh,no-repeat,cover);
}
}
