@media(max-width:320px){
        .logo-nav img{
        height: 35px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 15px;
    }
    h5{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    .boton-ingresar a{
        padding: 5px;
        border: 2px;
        margin: 5px;
    }
    .figuras{
        .card1,.card2,.card3,.card4{
            img{
                width: 200px
            }
            p{
                font-size: 12px;
                padding-bottom: 10px;
            }
        }
    }
    .novedades{ 
        .nov{
        font-size: 7px;
        }
        form{
            font-size: 8px;
        } 
        input{
            font-size: 8px;
        }
    }
    .enlaces{
        flex-direction: column;
        font-size: 12px;
    }
    .barra{
        align-items: center;
        padding-left: 15px;
        height: 25vh;
    }
    .copa-barra{
        align-items: center;
        padding-left: 15px;
        height: 25vh;
    }
    .logo-main{
        height: 30vh;
            img{
                height: 50px;
            }
    }
    .recetas{
    @include grid(100%,none,repeat(1,1fr),repeat(6,1fr),none);
    .img1,.img2,.img3,.img4,.img5,.img6,.img7{
        a{
        img{
                margin-left: 40px;
            }
        }
    }
    }
    .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner{
        @include flex(center,center,center,column,none,40vh,no-repeat,cover);
        h1{
            font-size: 35px;
        }
        h3{
            font-size: 18px;
        }
    }
    .fondo{
        .recetas-txt{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            align-items: center;
            img{
                width: 250px;
            }
            p{
                font-size: 11px;
            }
            li{
                font-size: 10px;
            }
        }
    }
    .beber{
        p{
            font-size: 9px;
        }
    }
}

