@media(max-width:768px){
    header{
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            width: 50%;
            background-color: #06215c;
            top: 80px;
            left:100%;
            text-align: center;
            transition: all 0.5s;
        }
        .navbar{
            ul{
                li{
                    display: block;
                    margin: 20px 0;
                    line-height: 20px;
                    a{
                        font-size: 16px;
                        padding: 2px;
                        &:hover{
                            background:none;
                            color: #002f96;
                        }
                    }
                }
            }
        }
    }
    #check:checked ~ ul{
        left: 50%;
    }
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
    h5{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    .barra{
        align-items: center;
        padding-left: 40px;
        height: 60vh;
    }
    .copa-barra{
        align-items: center;
        padding-left: 40px;
        height: 60vh;
    }
    .figuras{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        flex-direction: column;
        text-align: center;
        justify-content:space-between;
        .card1,.card2,.card3,.card4{
        a{    
        img{
            height: 300px;
        }
        p{
            font-size: 12px;
            padding-bottom: 10px;
            }
        }
    }
}    
    .novedades p{
        font-size: 15px;
        padding: 10px;
        border: 8px;
        margin: 0px;
        form{
            font-size: 12px;
            input{
                font-size: 12px;
            }
        }
    }
    .enlaces{
        flex-direction: row;
        font-size: 15px;
    }
    .logo-main{
        height: 60vh;
        img{
            height: 90px;
        }
    }
    .recetas{
        @include grid(100%,none,repeat(2,1fr),repeat(3,1fr),none);
            
    }
        .sin-alcohol-banner, .bajo-banner, .medio-banner, .alto-banner, .herramientas-banner{
            @include flex(center,center,center,column,none,50vh,no-repeat,cover);
            h1{
                font-size: 80px;
            }
    }
    .fondo{
    .recetas-txt{
        img{
            width: 400px;
        }
    }
}
}